<h1>Welcome to CSE Motors!</h1>
<article class="hero-article section">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    <div class="text-box">
        <p><strong>DMC Delorean</strong><br>
            3 Cup Holders<br>
            Superman doors<br>
            Fuzzy dice!
        </p>
        <a class="button">Own Today</a>
    </div>
</article>
<section class="car-details-grid">
    <div class="car-reviews section">
        <h2>DMC Delorean Reviews</h2>
        <ul class="reviews-list">
            <li class="review">"So fast it's almost like travelling in time" (4/5)</li>
            <li class="review">"Coolest ride. Still giving it 4 stars." (4/5)</li>
            <li class="review">"I'm feeling McFly" (5/5)</li>
            <li class="review">"You can't stop me from using decimals." (4.5/5)</li>
            <li class="review">"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades-roster section">
        <h2>Delorean Upgrades</h2>
        <ul class="upgrades-grid">
            <li class="upgrade-box">
                <figure>
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Upgrade" loading="lazy" class="upgrade-image">
                </figure>
                <a href="" class="link">Flux Capacitor</a>
            </li>
            <li class="upgrade-box">
                <figure>    
                    <img src="/images/upgrades/flame.jpg" alt="Flame Upgrade" loading="lazy" class="upgrade-image">
                </figure>
                <a href="" class="link">Flame Decals</a>
            </li>
            <li class="upgrade-box">
                <figure>    
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers Upgrade" loading="lazy" class="upgrade-image">
                </figure>
                <a href="" class="link">Bumper Stickers</a>
            </li>
            <li class="upgrade-box">
                <figure>    
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps Upgrade" loading="lazy" class="upgrade-image">
                </figure>
                <a href="" class="link">Hub Caps</a>
            </li>
        </ul>
    </div>
</section>
